<header class="header" data-stellar-background-ratio="2" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="200">
  {{!-- Project logo --}}
  <h1 class="logo">
    <a href="{{sitePath}}">
      <img src="{{assets}}/images/logo.svg" alt="Voltar para Home">
    </a>
  </h1>
</header>
